.add-cargo {
    display: flex;
    flex-direction: column;
}

.container-title{
    margin-bottom: 15px;
    align-self: center;
}

.cargo-text-field {
    display: flex;
    flex-wrap: wrap;
}

.container-buttons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container-images {
    flex: 1;
    display: flex;
    align-items: center;
}

.standard-containers-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.standard-containers-buttons {
    display: flex;
    justify-content: space-evenly;
}
