.add-cargo-title {
    display: flex;
    color: black;
    font-weight: bold;
    font-size: 18px;
    /*margin-top: 80px;*/
    margin-bottom: 70px;
    align-self: center;
}

.add-cargo {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #a2c5d6;
    /* margin-top: 70px;
    margin-bottom: 70px; */
}

.cargo-text-field {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}
