.add-cargo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.add-cargo-title {
    display: flex;
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 70px;
}

.cargo-text-field {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
