.add-cargo {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 100%;
}

.container-title{
    margin-bottom: 15px;
}

.cargo-text-field {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 30px; */

    /*justify-content: space-evenly;*/
    /*grid-template-columns: repeat(2, 1fr);*/
    /*width: 100%;*/
}
