.package-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.add-package {
    display: flex;
    flex-direction: column;
}

.package-fields {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    justify-items: center;
    padding: 40px;
}

/*.add-package-title {*/
/*    position: relative;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*    align-self: center;*/
/*}*/

.package-text-field {
    display: flex;
    justify-content: center;
    width: 100%;
}

.toggle-boolean-buttons {
    display: flex;
    justify-content: space-evenly;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}