.add-package {
    background-color: #D3D3D3;
    padding-top: 25px;
    /* margin-bottom: 70px; */
    /*margin-top: 70px;*/
}

.package-fields {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 40px;
    padding-left: 8%;
    padding-right: 8%;
}

.add-package-title {
    position: relative;
    top: 0px;
    padding-left: 8%;
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: flex;
}

.package-text-field {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 55px;
}

.package-button {
    position: relative;
    top: 0px;
    right: 0px;
    margin: 10px;
}