.package-list-container {
    position: relative;
}

.package-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.add-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.add-package {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    margin: 10px;
}

.package-fields {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    justify-items: center;
    padding: 40px;
}

.add-package-title {
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 18px;
    align-self: center;
}

.package-text-field {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 55px;
}

.toggle-boolean-buttons {
    display: flex;
    justify-content: space-evenly;
}

.package-button {
    position: relative;
    margin: 10px;
}