.add-package {
    display: flex;
    flex-direction: column;
    background-color: #D3D3D3;
    padding-top: 25px;
    /* margin-bottom: 70px; */
    /*margin-top: 70px;*/
}

.package-fields {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 15px;
    justify-items: center;
    padding: 40px;
}

.add-package-title {
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 18px;
    align-self: center;
}

.package-text-field {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 55px;
}

.toggle-boolean-buttons {
    display: flex;
    justify-content: space-evenly;
}

.package-button {
    position: relative;
    margin: 10px;
}