.color-map {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: #FFFFFF20;
    border-radius: 10%;
    margin: 5px;
}

.color-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.color-sample {
    width: 30px;
    height: 30px;
    border: 2px solid #222233;
    border-radius: 50%;
    margin-right: 15px;
}

.color-type-name {
    font-size: 20px;
    font-weight: 400;
    color: black;
    font-weight: bold;
}