.color-map {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgba(200, 200, 220, 0.25);
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 10px;
    flex-flow: column wrap;
    height: wrap-content;
}

.color-item {
    display: flex;
    align-items: center;
    margin: 5px;
}

.color-sample {
    width: 30px;
    height: 30px;
    border: 2px solid #222233;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.color-type-name {
    font-size: 20px;
    font-weight: 400;
    color: black;
    font-weight: bold;
}