.settings-modal {
    width: 500px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}

.config-div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.stepper-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.pages {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.config-package-table {
    width: 90%;
}

.add-packages-tab {
    width: 100%;
    display: flex;
    justify-content: center;
}

.packages-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.bottom-spacing {
    height: 125px;
}

.modal-popup {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border-radius: 25px;
}

.example-input-file {
    display: flex;
    justify-content: center;
    margin: 15px;
}
