.cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-background-image {
    background-image: url(../images/new-XDbackground-cropped.png);
}

.header-div {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
}

.head {
    display: flex;
    padding: 40px;
    flex: 1;
}

.logo {
    height: 80%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.settings-button:hover {
    filter: contrast(75%);
}

.info-button:hover {
    filter: contrast(75%);
}
