.header-background-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../images/header-background.png);
    scrollbar-width: none;
}

.head {
    display: flex;
    padding: 40px;
    flex: 1;
}

.logo {
    height: 80%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.settings-button:hover {
    filter: contrast(75%);
}

.info-button:hover {
    filter: contrast(75%);
}
