.image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: no-repeat center center fixed;
    width: 100%;
    height: auto;
}

.head {
    display: flex;
    /*flex-direction: column;*/
    padding: 40px;
    background-size: 100% 100%;
    flex: 1;
    background: url(../images/XDbackground.png) no-repeat center;
    /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/XDbackground.png);*/
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    width: 95%;
    height: max(5%, 65px);
    background: rgba(105, 105, 105, 0.45);
    top: 5%;
    border-radius: 20px;
}

.logo {
    height: 80%;
}

.header-nav-links {
    display: flex;
    justify-content: space-evenly;
    width: min(100%, 900px);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: black;
    cursor: pointer;
}

.start-button {
    font-size: 50px;
    /*font-weight: 700px;*/
    color: #445;
    border: 2px solid black;
    border-radius: 20px;
    background: #fff;
    width: 200px;
    height: 100px;
    align-self: center;
    cursor: pointer;
}

.start-button:hover {
    background: #eef;
}

.header-title-text {
    font-size: 55px;
    color: white;
    font-weight: 700;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
