.image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: no-repeat center center fixed;
    width: 100%;
    height: auto;
}

.head {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
}

.header-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    width: 95%;
    height: max(5%, 65px);
    background: rgba(105, 105, 105, 0.45);
    top: 5%;
    border-radius: 20px;
}
.logo {
    height: 80%;
}

.header-nav-links {
    display: flex;
    justify-content: space-evenly;
    width: min(100%, 900px);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: black;
    cursor: pointer;
}

.upload-button {
    position: absolute;
    color: white;

}

.header-title {
    position: absolute;
    font-size: 55px;
    color: white;
    text-align: left;
    top: 25%;
    left: 12%;
    bottom: 20px;
}

