.stats-div {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgba(170, 170, 200, 0.33);
    box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.33);
    border-radius: 10px;
}

.data {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 10px;
    padding: 20px;
}