.units-of-measurement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
}

.units-of-measurement-title {
    position: absolute;
    top: 70px;
    display: flex;
    color: black;
    font-weight: bold;
    font-size: 18px;
    align-self: center;
}

.toggle-buttons {
    /* display: grid;
    column-gap: 5px;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}