.units-of-measurement {
    display: flex;
}

.units-of-measurement-title {
    position: absolute;
    top: 70px;
    display: flex;
    color: black;
    font-weight: bold;
    font-size: 18px;
    align-self: center;
}

.toggle-buttons {
    /*display: grid;*/
    /*column-gap: 5px;*/
    /*grid-template-columns: repeat(3, 1fr); */
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}